input {
  width: 80%;
  margin: 10px;
  padding: 18px 10px;
  border-radius: 4px;
  border: 1px solid #4e5766;
  box-shadow: 1px 0.5px #888888;
  font-size: 18px;
}
input:focus {
  background-color: lightblue;
}

.searchButton {
  padding: 12px 10px;
  width: 33%;
  border-radius: 4px;
  background-color: #4286f4;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.selctMultipleValues {
/*  position: relative;
  margin-left: 125px;
*/
  padding: 12px 0px 14px;
  max-width: 480px;
  border-radius: 4px;
}
